.cliplist-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-bar {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    z-index: +5;

    input {
      appearance: none;
      outline: none;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      border-radius: 20px;
      border: 1px solid #ccc;
      font-size: 16px;

      &:focus {
        box-shadow: inset 0px 0px 5px #fbcf23aa;
        outline: #fbcf23 2px solid;
      }
    }
  }

  .cliplist {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px 0 10px 0;
    max-height: max-content;
    flex-grow: 1;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  p.no-more {
    margin: 10px 0;
    color: #888;
  }
}