* {
  margin: 0px;
}

::selection{
  background-color: #e6b905;
  color: white;
}

body {
  background: #fcf69d;
  overflow: hidden;
  
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}